[View in Colaboratory](https://colab.research.google.com/github/sungreong/TIL/blob/master/*args%20,%20**kwargs_%EB%AC%B8%EB%B2%95%EC%97%B0%EC%8A%B5.ipynb)

## *args

In [42]:
def a(*args) :
    print(args)
  
print(" tuple 출력 ")
print(a(1,2,3,4) )
print(a((1,2,3,4)))
print(a((1,2),3,4))

 tuple 출력
(1, 2, 3, 4)
None
((1, 2, 3, 4),)
None
((1, 2), 3, 4)
None

In [84]:
numbers = [1, 2, 3, 4, 5, 6]
*a, = numbers
print(*a)
*a, b = numbers
print(*a , "/" , b)
*a, b ,  = numbers
print(*a , "/" , b)
a, *b , c  = numbers
print(a , "/" , *b , "/" , c)

1 2 3 4 5 6
1 2 3 4 5 / 6
1 2 3 4 5 / 6
1 / 2 3 4 5 / 6

In [55]:
def test_var_args(f_arg, *argv):
    print ("첫 번째 인자:", f_arg)
    i = 1
    for arg in argv:
        print ("*argv의 {i}번째 다른 인자 {arg}".format(i=i , arg = arg))
        i +=1

test_var_args('야숩', 'python', '달걀', 'test')

첫 번째 인자: 야숩
*argv의 1번째 다른 인자 python
*argv의 2번째 다른 인자 달걀
*argv의 3번째 다른 인자 test

In [101]:
def multiply( *args ) :
    print("*args : " , *args)
    print("args : " , args)
    
    z = 1
    for num in args :
        z *=num
    print(z)
    
multiply(10,2,3 )
a = (2,3,4,5)
print("옳은 예")
multiply( *a )
print(" 틀린 예")
multiply( a )
### (tuple) 형태로 for문 작동한다. 
for i in (1,2,3,4) :
    print(i)

*args :  10 2 3
args :  (10, 2, 3)
60
옳은 예
*args :  2 3 4 5
args :  (2, 3, 4, 5)
120
 틀린 예
*args :  (2, 3, 4, 5)
args :  ((2, 3, 4, 5),)
(2, 3, 4, 5)
1
2
3
4

In [77]:
def test_args_kwargs(arg1, arg2, arg3):
    print( "arg1:", arg1)
    print( "arg2:", arg2)
    print( "arg3:", arg3)
    
args = ("two", 3,5)
test_args_kwargs(*args)
kwargs = {"arg3": 3, "arg2": "two","arg1":5}
test_args_kwargs(**kwargs)

arg1: two
arg2: 3
arg3: 5
arg1: 5
arg2: two
arg3: 3

In [89]:
def print_three_things(a, b, c):
    print( 'a = {0}, b = {1}, c = {2}'.format(a,b,c))
    
mylist = ['aardvark', 'baboon', 'cat']
print(*mylist)
print_three_things(*mylist)

aardvark baboon cat
a = aardvark, b = baboon, c = cat

In [22]:
import numpy as np

def sum_two(a,b) :
    return  a + b 

def sum_args(*args ) :
    sum = 0 
    for arg in args :
        sum +=arg
    return sum
    

print(sum_two(1,2))
print("np.arange : " , np.arange(10) , type(np.arange(10)) , "Unpacking =>  *np.arange(10) : " , *np.arange(10))
print(sum_args(np.arange(10)))
print(sum_args(*np.arange(10)))
values = (1,2,3,4)
print(values , type(values) , "Unpacking =>  *values : ",*values)
print(sum_args(*values))
## error 발생 tupple 은 안된다.
print(sum_args( values ))

3
np.arange :  [0 1 2 3 4 5 6 7 8 9] <class 'numpy.ndarray'> Unpacking =>  *np.arange(10) :  0 1 2 3 4 5 6 7 8 9
[0 1 2 3 4 5 6 7 8 9]
45
(1, 2, 3, 4) <class 'tuple'> Unpacking , *values :  1 2 3 4
10

TypeError: ignored

# **kwargs

In [49]:
def b(**kwargs ) :
    print(kwargs)
    
b(a=1 , b=2, c= 3 )

{'a': 1, 'b': 2, 'c': 3}

In [28]:
def myprofile_two(name , age ) : 
    print("{name}님의 나이는 {age}입니다".format(name = name , age = age ))
    
profile_tuple = ("홍길동" , 25)
print( myprofile_two(*profile_tuple) )

profile_dict = {
    "name" : "홍길동" , 
    "age" : 25 
}

print(*profile_dict)
print( myprofile_two( *profile_dict ))
print( myprofile_two(**profile_dict))

홍길동님의 나이는 25입니다
None
name age
name님의 나이는 age입니다
None
홍길동님의 나이는 25입니다
None

In [70]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [86]:
def test_var_kwargs(farg, **kwargs):
    print( "formal arg:", farg)
    for key in kwargs:
        print( "another keyword arg: %s: %s" % (key, kwargs[key]))

test_var_kwargs(farg=1, myarg2="two", myarg3=3)

formal arg: 1
another keyword arg: myarg2: two
another keyword arg: myarg3: 3

# *    :    list 나 tuple 을 Unpacking 
# **  : dictionary 를 Unpacking

In [56]:
profile_dict_many = {
    "name" : "이성령" ,
    "age" : 26 , 
    "height" : 180 , 
    "country" : "대한민국"
}

def myprofile_kwargs(**kwargs) :
    for key , value in kwargs.items() :
        print("{key} == {value}".format( key = key , value = value ))
        

print(myprofile_kwargs( **profile_dict_many))

name == 이성령
age == 26
height == 180
country == 대한민국
None

In [61]:
def test_args_kwargs(arg1, arg2, arg3):
        print ("인자1:", arg1)
        print ("인자2:", arg2)
        print ("인자3:", arg3)
        
args = ("two", 3, 5)

print(test_args_kwargs(*args))

인자1: two
인자2: 3
인자3: 5
None

TypeError: ignored