[View in Colaboratory](https://colab.research.google.com/github/sungreong/TIL/blob/master/RE_Regular_Expression(%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D).ipynb)

## Reference : http://devanix.tistory.com/296   기호들 잘 정리되어 있는 사이트

## re.match() vs re.search()

### re.match
1. 대상 문자열의 시작부터 검색

### re.search()
1. 대상 문자열 전체에 대해서 검색을 수행한다.

ex) 검색의 대상이 되는 문자열에 공백이 있거나 또는 검색 키워드와 일치하는 문자열이 대상 문자열의 중간 이후에 존재하는 경우
**re.match()함수는 검색을 못함**

In [5]:
import re
bool(re.match('[0-9]*th' , "    35th")) # 문자열에 공백이 있는 경우  검색을 못함

False

In [6]:
bool(re.search('[0-9]*th' , "    35th"))  #  공백이 있어도 가능

True

In [7]:
bool(re.match("ba" , "this is banana")) # 문자열 시작부터 검색 해당하는 것이 중간에 있는 경우 -> 검색을 못함

False

In [9]:
bool(re.search("ba", "this is banana")) # 중간에 있어도 문자열 전체에 대한 검색으로 검색가능

True

## re.split()
* 대상 문자열을 입력된 패턴을 구분자로 하여 분리
* ":" , "." , " " 문자를 구분자로 사용

In [18]:
print(re.split("[:. ]+" , "apple.orange:banana tomato"))  #  ":" "." , " " 가 있으면 구분자로 하여 분리 가능
print(re.split("([!:. ])+", "apple.orange:banana tomato!BOOL" ))  #  패턴에 괄호() 를 사용하면 해당 분리 문자도 결과 문자열에 포함
print(re.split("([!:. ])+", "apple.orange:banana tomato!BOOL" ,maxsplit = 2 ) ) # maxsplit 최대 2 개 까지 설정 가능

['apple', 'orange', 'banana', 'tomato']
['apple', '.', 'orange', ':', 'banana', ' ', 'tomato', '!', 'BOOL']
['apple', '.', 'orange', ':', 'banana tomato!BOOL']

## re.findall()
*  검색 문자열에서 패턴과 매칭되는 모든 경우를 찾아 리스트로 변환

In [27]:
print(re.findall(r"app\w*" , "application orange apple!! app1234 apron appapp"))  ## 매치되는 문자열이 있는 경우 
## *w = 숫자 또는 문자와 매치됨 [a-zA-Z0-9_] => 그래서 ""!!"" 는 출력이 안됨 

print(re.findall(r"app\W*" , "application orange apple!! app1234 apron"))  ## 매치되는 문자열이 있는 경우 
## \W = 숫자 또는 문자가 아닌 것과 매치됨 [^a-zA-Z0-9_]

## * 0회 이상 반복할 때 사용하는 기호

['application', 'apple', 'app1234', 'appapp']
['app', 'app', 'app']

In [29]:
re.findall(r"king\w*" ,"application orange apple ")

[]

## re.sub()

* 패턴과 일치하는 문자열 변경

In [38]:
print(re.sub("-", "-!-", "123456-123456")) # 형식 변경 가능

## 필드 구분자를 통일
print(re.sub(r"[:|\s\d]" , ", ", "apple:orange banana|tomato01abc"))   # 01 을 쓰게 되니 빈 스페이스 하나 존재하게 된다.

## \s : 화이트 스페이스 문자와 매치됨 [ \t\n\r\f\v]
## \d : 모든 숫자와 매치됨 [0-9]
print(re.sub(r"[\D]" , ", ", "apple:orange banana|tomato01abc"))   # 01 을 쓰게 되니 빈 스페이스 하나 존재하게 된다.

## 	\D  : 숫자가 아닌 문자와 매치됨 [^0-9]  그래서 숫자 아닌 것들은 다 " , "바꿔줌

123456-!-123456
apple, orange, banana, tomato, , abc
, , , , , , , , , , , , , , , , , , , , , , , , , , 01, , ,

In [49]:
## 문자열의 변경 횟수 제한
print(re.sub(r"[:,|\s]", ", ", "apple:orange banana|tomato" , 2)  ) 

## 변경할 문자에 대해서 매칭된 문자열을 사용할 수도 있다.
print( re.sub(r"\b(\d{4}-\d{4})\b" ,r"<I>\1</I>", "Copyright Derick 1990-2009") )

## \b : 단어의 경계를 나타냄 단어는 영문자 혹은 숫자의 연속 문자열

## " ( ) " 매칭시킬 패턴 중 변결할 문자열에 사용할 부분에 대해서는 소괄호로 감싸주기 

## \d{4} : 4개 까지 모든숫자와 매칭

## \1  : 변결할 문자열에 대해서는  \<숫자> 형태로 사용  

print( re.sub(r"\b(?P<year>\d{4}-\d{4})\b" , r"<ASI>\g<year><\I>"  , "Copyright Derick 1990-2009" ) )

## ? : 0회 OR 1회 
## ?P<year> :  매칭시킬 패턴에 명시적으로 이름을 지정 
#  \g<year> :  변경할 문자열에서도 그 이름을 형태로 사용

apple, orange, banana|tomato
Copyright Derick <I>1990-2009</I>
Copyright Derick <ASI>1990-2009<\I>

# Math 객체

In [74]:
# 일반적인 형식의 전화번호를 인삭하여 Math 객체가 지원하는 메소드 분석
import math
telchecker = re.compile(r"(\d{2,3})-(\d{3,4})-(\d{4})")

m = telchecker.match("02-123-4567")

print("매칭된 문자열을  튜플로 변환해주기" , m.groups() ) ## 

print(" 첫번째로 매칭된 문자열" , m.group(1) , type(m.group(1)))

print("두 번째와 세 번째 매칭된 문자열을 튜플로 변환" , m.group(2,3) )

print("매칭된 전체 문자열의 시작 인덱스" , m.start())

print("매칭된 전체 문자열의 종료 인덱스", m.end() )

print("두번째 매칭된 문자열 ('123') 의 시작 인덱스" , m.start(2))

print("두번째 매칭된 문자열 ('123') 의 종료 인덱스" , m.end(2))

print("지역변호를 제외한 전화번호 출력" , m.string[m.start(2) : m.end(3)])

매칭된 문자열을  튜플로 변환해주기 ('02', '123', '4567')
 첫번째로 매칭된 문자열 02 <class 'str'>
두 번째와 세 번째 매칭된 문자열을 튜플로 변환 ('123', '4567')
매칭된 전체 문자열의 시작 인덱스 0
매칭된 전체 문자열의 종료 인덱스 11
두번째 매칭된 문자열 ('123') 의 시작 인덱스 3
두번째 매칭된 문자열 ('123') 의 종료 인덱스 6
지역변호를 제외한 전화번호 출력 123-4567

## 정규식 작성시 '(?<이름>..)' 형식으로 매칭 결과에 대해 이름을 부여하고,

## groupdict() 메서드를 이용하여 사전 형태로 이름과 검색된 문자쌍을 얻음.

In [76]:
c = re.compile(r"(?P<area>\d+)-(?P<exchange>\d+)-(?P<user>\d+)")

m = c.match("02-123-4567")

print(m.group("area"))

print(m.start("user"))

m.groupdict()

02
7

{'area': '02', 'exchange': '123', 'user': '4567'}

## 로우 문자열 표기법 (raw string notation)

escape 문자열을 표현하기위해 **\**  문자를 사요하기 때문에

문자 **W**를 정규표현식으로 표현하기 위해서는 '\\\\'로, 일반 문자열에선느 '\\'로 표현해야 합니다.

그래서 **\APPLE** 이란 문자열을 검색하기 위해서는 아래와 같이 매우 복잡한 형식으로 표현해야합니다.

로우 문자열 표기법은 문자열 앞에 **'r'** 을 더한 것으로 **\** 문자를 escape 문자열로 처리하지 않고 일반 문자와 동일하게 처리합니다

이렇게 함으로써 정규표현식 및 문자열에서는 **'\'** 를 간단하게 표현 할 수 있습니다. 일반적으로 정규표현식이 문자열에서는 이러한 편리함 때문에 많이 사용된다.

In [77]:
bool(re.search("\\\\\\w+", "\\apple"))

True

In [78]:
print(bool(re.search("\\\\\w+" , "\\apple")))

print(bool(re.search(r"\\\w+" , r"\apple" )))

True
True