[View in Colaboratory](https://colab.research.google.com/github/sungreong/TIL/blob/master/[Python]%EB%82%A0%EC%A7%9C_%EC%A1%B0%EA%B1%B4%EC%97%90_%EB%A7%9E%EA%B2%8C_%EC%9E%98_%EB%BD%91%EB%8A%94%EA%B1%B0_%EC%97%B0%EC%8A%B5.ipynb)

## Dash 안에 넣을 Input 값을 잘 반영하기 위한 연습 

해결하야 할 문제 :
* 년도를 넣어야하는데, 특정기간만 가져올 수 있는지, 
* 다 치지 않아도 전체를 가져올 수 있는지,
* 이상한 말도 안되는 말을 적었어도 에러없이 가져올 수 있는지

# Split

In [0]:

x = ["08", "09" , ""]
def str( x ) :

In [1]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

## for 문을 형태를 다양하게 가능

In [168]:
x = "082,09,11,12,13"

a =  x.split(",")
data = []
for i in a :
    data.append("20"+i)

print(data )

["20" + x for x in a ]

['20082', '2009', '2011', '2012', '2013']

['20082', '2009', '2011', '2012', '2013']

## List index 로 특정 조건 만족하지 않는 것 지우기
* pop 
* del

In [88]:
import numpy as np
x = "10,09,11,12,19"

a =  x.split(",")

count = [len(i) for i in a ] 
if np.mean(count) != 2 :
    print(" 문법에 맞춰서 넣으시오 EX) 09,10,11,12 전년도가 출력되는 걸로 진행하겠습니다.")
    y = "08,09,10,11,12,13,14,15,16,17,18"
    a =  y.split(",")
elif np.mean(count) == 2 :
    pass


for i in np.arange(len(a)) :
    if a[i] > "18" :
        del a[i]
a

['10', '09', '11', '12']

처음에는 코드가 if 문을 위와 같은 방향으로 진행하다 보니 코드가 길어졌지만 , 

밑에가는 [  x for x in dataset if  x condition ] 형태로 주니 코드가 훨씬 깔끔해졌다.

###  특정날짜 뽑는 Definition 만들기

In [0]:
def years(x = None ) :
    if x == "ALL" or x == "all"  :
        y = "08,09,10,11,12,13,14,15,16,17,18"
        a =  y.split(",")
        
    else :
        x = x.replace(" ", "")
        a = x.split(",")
        a = [ i  for i in a  if len(i) == 2 ] 
        a = [ x for x in a if x <= "18" and x >= "08" and isinstance(np.int(x) , int )  ]
        if len(a) == 0 :
            print("문법에 맞게 넣으시오 틀렸으므로 전체 출력을 진행함")
            y = "08,09,10,11,12,13,14,15,16,17,18"
            a =  y.split(",")
    return [ "20"+i  for i in np.unique(a) ]

# 년도가 맞지 않은 경우 대처가능한지

*  대처가능

In [202]:
x = "08,09,129,18"

years(x)

['2008', '2009', '2018']

# 귀찮아서 다 적고 싶지 않을 때 대처가능한지
* 대처가능

In [170]:
years("ALL")

['2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

# 기간년도안에 만족되는 것을 뽑아 줄 수 있는지 (08~18)
* 대처가능

In [179]:
x = "07,08,09,11,20,129"
years(x)

['2008', '2009', '2011']

# 공백기호 와 중복된 값을 넣을 때 대처가능한지
* 대처가능

In [182]:
y = " 08,  09,10,11,12,13,14,15,16,17,18,18,18,18"
years(y)

['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

# 문법에 맞지 않게 넣었을 시 전부 다 출력하게 만들 수 있는지
*  틀린 부분이 있다면 그 부분을 제외하고 출력하게 하기

In [208]:
y= "ab,07"
years(y)

문법에 맞게 넣으시오 틀렸으므로 전체 출력을 진행함

['2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

In [210]:
y= "ab,07,16"
years(y)

['2016']

In [211]:
y= "070809"
years(y)

문법에 맞게 넣으시오 틀렸으므로 전체 출력을 진행함

['2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']